<!-- REQ_03: A form to submit new events manually -->
<div class="input-form">

  <div>
    <div class="form-title">louislaw websocket demo (Q2 frontend)</div>
    <span class="l_mobile">mobile layout demo</span>
    <span class="l_pad">pad layout demo</span>
    <span class="l_desktop">desktop layout demo</span>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()" novalidate>
    <div class="form-control">
      <!-- <app-mui-select-helloworld></app-mui-select-helloworld> -->
      <mat-form-field>
        <mat-label>message priority</mat-label>
        <mat-select formControlName="msgPrio" name="msgPrio">
          <mat-option *ngFor="let msgPrio of msgPrios" [value]="msgPrio.value">
            {{msgPrio.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control">

      <mat-form-field class="example-full-width">
        <mat-label>message body</mat-label>
        <input matInput placeholder="hello message" formControlName="msgBody" name="msgBody">
      </mat-form-field>
    </div>


    <!-- <textarea formControlName="message"></textarea> -->

    <div class="bottom-button">

      <button mat-button type="submit" color="primary" mat-raised-button>
        Submit
      </button>
      <button mat-button type="button" (click)="resetForm()">
        Cancel
      </button>
    </div>
  </form>

</div>