.table-container {
  height: 400px; /* Adjust this to roughly the height of 10 rows */
  overflow: auto;
}

/*
NOTE:
placeholder for responsive handling on mobile
for more formal solution please consult SCSS and graphics designer
*/
@media (max-width: 768px) {
  div.alarm-stats {
    background-color: tomato;
  }
}

/*
NOTE:
placeholder for responsive handling on pad
for more formal solution please consult SCSS and graphics designer
*/
@media (min-width: 768px) {
  div.alarm-stats {
    background-color: cyan;
  }
}

/*
NOTE:
placeholder for responsive handling on desktop
for more formal solution please consult SCSS and graphics designer
*/
@media (min-width: 1024px) {
  div.alarm-stats {
    background-color: green;
  }
}

div.alarm-stats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
}
